body {
  background-color: #e5dfd7;
}
.main1 {
  border-radius: 20px;
  margin: 25px 1px;
  font-family: Tahoma, sans-serif;
}
.begining {
  padding: 3px;
  text-align: center;
}
h1 {
  padding: 30px;
  text-align: center;
  font-size: 50px;
}

.header-p {
  text-align: center;
  font-size: 20px;
}
#tribute-info {
  margin: 60px;
}
.figures {
  text-align: center;
}
#image {
  padding: auto;
  margin: auto;
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
}
#img-caption {
  padding: 10px 0;
}
p,
li {
  font-size: 20px;
}
#img-div {
  text-align: center;
  background-color: #fffefc;
  margin: auto;
  padding: 10px;
}
h2 {
  text-align: center;
}
.ulist {
  padding-bottom: 35px;
  display: flex;
  justify-content: center;
}
li {
  margin: 25px 0px 40 0;
}
.bottom-p,
.last-p {
  text-align: center;
}
.bottom3 {
  display: block;
  justify-content: center;
}

#main {
  padding-bottom: 20px;
}
.container {
  margin-bottom: 10px;
}
a {
  color: #7d4323;
  text-decoration: none;
}
a:hover {
  color: red;
  transition-duration: 3s;
}
